/* Mise en page menu de navigation */

.menu-item-443:hover, .admin:hover{
	font-weight:700;
}

body .nav-ul > li {
	margin: 0;
  	padding: 0 calc(var(--spacing)/ 2);
}

#menu-item-477 > a{
	color: white;
}

.menu-item-477{
	order: 3;
	background-color: #DC9F96;
	font-weight: 700;
}

.menu-item-477:hover{
	background-color:#c02e43;
}

.builder-item, .has-nav{
	margin: 0px!important;
}


/* Mise en page du bouton formulaire page "nous rencontrer" */
.button-contact{
    text-align: center;
}

#envoyer{
	height: 55px;
	width: 198px;
}

#envoyer:hover{
	background-color: #c02e43;
}

.wpcf7-spinner{
    display: none;
}

/* input[type=text]{
	width: 100%;
} */

/* Mise en page du selecteur page "commander" */

input[type=number] {
  width : 51px;
  height : 54px;
}

/* Firefox */
/* input[type=number] {
    -moz-appearance: none;
} */
 
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
 
/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}

.selecteur p {
	margin: 0;
}

.selecteur br{
	display: none;
}

input[placeholder] {
  text-align : center;
}

.bouton {
  width : 31px;
}

.selecteur{
  display : flex;
}

.bouton input[type=submit] {
	height: 27px;
	background-color:#DC9F96;
	line-height: 28px;
	padding-top: 0px;
}

.bouton input[type=submit]:hover{
	background-color: #DC9F96;
}

.zero{
	border-radius: 5px 0px 0px 5px !important;

}

.plus{
	border-radius: 0px 5px 0px 0px !important;
	border-bottom: solid 2px white !important;
	text-align: center;
}

.moins{
	border-radius: 0px 0px 5px 0px !important;
	margin-top: -10px !important;
}

/* Mise en page du formulaire page "commander" */


.rang-form {
	display: flex;
	gap: 90px;
	width: 100%;
}

.demi-colonne, .colonne {
	display: flex;
	justify-content: center;
	float: left;
	width:100%;
	color: white;
	font-size: 20px;
}

.colonne{
	text-align: center;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"] {
	display: flex;
	height: 70px;
	width: 100%;
	padding: 8px;
	border-radius: 7px;
}

.wpcf7 textarea{
	display: flex;
	height: 230px;
	width: 100%;
	padding: 8px;
	border-radius: 7px;
}

.colonne input[type=submit]{
	height: 55px;
	width: 198px;
}
.colonne input[type=submit]:hover{
	background-color: #c02e43;
}

.vertical-line{
    border: 1px solid white;
    display: flex;
    height: 435px;
	position: absolute;
	left: 50%;
	top: -12%;
}

/* Media query formulaire page "commander" */

@media screen and (max-width: 650px) {
	.vertical-line{
		display: none;
	}

	.rang-form{
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.bouton input[type="submit"]{
		line-height: 24px;
	}
}

/* Footer */

.component-wrap p{
	color: white;
}

.component-wrap p a{
	color: white;
}


